@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*-----------------------------\
|        html and body         |
\-----------------------------*/
html, body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-user-select: true; 
  -ms-user-select: true; 
  user-select: true;
  overflow: hide;
  padding: 0;
  margin: 0px 0px;
  height: 100%;
  width: 100%;
}
body{
  background-color: rgb(30, 30, 30);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;padding: 0;
}
/*-----------------------------\
|        buttons  section      |
\-----------------------------*/
.button1{
  transition: background 600ms;
  -webkit-appearance: none;
  outline: 0;
  border-radius: 1.5px;
  background-color: black;
  border:none;
  color:white;
  padding:15px 30px;
  text-align:center;
  display:inline-block;
  font-size:18px;
  cursor:pointer;
  margin-left:10px;
  margin-top:10px;
  position:fixed;
  font-family:Roboto Thin;
}
.button2{
  transition: background 600ms;
  -webkit-appearance: none;
  outline: 0;
  border-radius: 1.5px;
  background-color: black;
  border:none;
  color:white;
  padding:15px 30px;
  text-align:center;
  display:inline-block;
  font-size:18px;
  cursor:pointer;
  margin-left:125px;
  margin-top:10px;
  position:fixed;
  font-family:Roboto Thin;
}
.button3{
  transition: background 600ms;
  -webkit-appearance: none;
  outline: 0;
  border-radius: 1.5px;
  background-color: black;
  border:none;
  color:white;
  padding:15px 30px;
  text-align:center;
  display:inline-block;
  font-size:18px;
  cursor:pointer;
  margin-left:233px;
  margin-top:10px;
  position:fixed;
  font-family:Roboto Thin;
}
.button1:hover{
  color: rgb(255, 255, 255);
  background: #5af227;
}
.button2:hover{
  color: rgb(255, 255, 255);
  background: #5af227;
}
.button3:hover{
  color: rgb(255, 255, 255);
  background: #5af227;
}

/*-----------------------------\
|       navigation section     |
\-----------------------------*/
.TopNav {
  margin-top: 2px;
  margin-left: 10px;
  z-index:1;
}

.navbox{
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  height: 80px;
  background-color: rgb(0,0,0);
  position: fixed;
 z-index: 1;
}
/*-----------------------------\
|        about section         |
\-----------------------------*/

.about_heading{
  text-align: center;
  margin-top: 200px;
  color: rgb(255,255,255);
  font-family: roboto;
  font-size: 25px;
}

.about_text{

  text-align: left;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-family: roboto;
  font-size: 25px;
}


.about_bg{
  background-color: rgb(30,30,30);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
/*-----------------------------\
|        projects section      |
\-----------------------------*/

.project_heading{
  text-align: center;
  margin-top: 200px;
  color:white;
  font-family:roboto;
  font-size: 25px;
}

.project_text{
  text-align: left;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-family: roboto;
  font-size: 25px;
}

.project_bg{
  background-color: rgb(30,30,30);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
/*-----------------------------\
|        skills section        |
\-----------------------------*/

.skill_heading{
  text-align: center;
  margin-top: 200px;
  color: rgb(255,255,255);
  font-family: roboto;
  font-size: 25px;
}

.skill_text{
  text-align:left;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-family: roboto;
  font-size: 25px;
}

.skill_bg{
  background-color: rgb(30,30,30);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

/*-----------------------------\
|         scroll bar           |
\-----------------------------*/
::-webkit-scrollbar {
  width: 8.5px;
  z-index: 5;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  z-index:5;
}

::-webkit-scrollbar-thumb {
  z-index:5;
  background: #5af227;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5af227;
  z-index:5;
}

/*-----------------------------\
|        footer                |
\-----------------------------*/
.footer{
  color: rgb(30, 255, 0);  
  font-family: roboto;
  margin-left: 0px;
}

.section {
  margin-top: 0px;
  min-height: 100%;
}

.spacerline{
  -webkit-user-select: none;     
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  font-weight:1000;
  font-family: roboto;
  color: rgb(0, 183, 255);
  font-size: 20px;
}

/*-----------------------------\
|  mobile and i pad friendly   |
\-----------------------------*/
@media(max-width: 900px){
  /* i-pad */
  
}

@media(max-width:500px){
  /* i-phone or mobile device*/
  .button3{
    margin-left:300px; 
  }
  .button2{
    margin-left: 190px;
  }
  .button1{
    margin-left: 72px;
  }
  .about_text,.project_text,.skill_text{
    font-size:20px;
    margin-left: 30px
  }
  .spacerline{
    font-size:15px;
  }
  .about_heading{
    font-size: 20px;
  }
}
a:link {
  color:rgb(0, 255, 21);
  text-decoration: none;
}
a:visited {
  color:rgb(0, 255, 21);
  text-decoration: none;
}
a:hover {
  transition: color .7s;
  color:#279df2;
  text-decoration: underline;
}
a:active {
  color:#279df2;
  text-decoration: underline;
}
